# $Id

# 15) GENIE_IG_SL_SL_DEGLAC
# igcm 1-year integration with slab ocean and slab seaice
# Ocean fluxes as created by standard fluxmaker job
# DEGLACIATION CONFIGURATION

OUTDIR=/export/stage3/stage3-01/ggdjl/genie_output
EXPID=genie_ig_sl_sl_deglac

ma_koverall_total=16560

ss_flag_fixedextent=.false.
ma_flag_fixedseaice=.FALSE.
ma_flag_slabseaice=.TRUE.
ma_flag_fixedocean=.FALSE.
ma_flag_slabocean=.TRUE.
so_fname_ocflux=/home/ggdjl/genie_output/genie_ig_sl_sl_deglac_fluxmaker/slabocean/slabocean_fluxes.nc
so_fname_siflux=/home/ggdjl/genie_output/genie_ig_sl_sl_deglac_fluxmaker/slabseaice/slabseaice_fluxes.nc
ss_fname_ocflux=/home/ggdjl/genie_output/genie_ig_sl_sl_deglac_fluxmaker/slabocean/slabocean_fluxes.nc
ss_fname_siflux=/home/ggdjl/genie_output/genie_ig_sl_sl_deglac_fluxmaker/slabseaice/slabseaice_fluxes.nc

# **********************************************************
# The bits below to change to deglaciation:

# igcm: vegetation and runoff:
ia_fname_vegetation=$CODEDIR/genie-igcm/data/input/limit_pelt_0_new.nc
ia_fname_runoff=$CODEDIR/genie-igcm/data/input/runoff_pelt_nn_t21.nc

# fixedchem:
fc_fixed_gases=.false.
fc_fname_gases_fixedchem=$CODEDIR/genie-fixedchem/data/input/fixedchem_gases_deglac.nc
fc_dt_vals=30
fc_iniday=30

# fixedicesheet:
fi_fixed_orog=.false.
fi_fixed_icefrac=.false.
ia_LOROG=.false.
fi_fname_orog=$CODEDIR/genie-fixedicesheet/data/input/limit_pelt_ice4g_new.nc
fi_fname_icefrac=$CODEDIR/genie-fixedicesheet/data/input/limit_pelt_ice4g_new.nc
fi_fname_iland=$CODEDIR/genie-fixedicesheet/data/input/limit_pelt_ice4g_new.nc
fi_dt_vals=30
fi_iniday=30

# igcm orbit:
ia_exact_orbit=.true.
ia_vary_exact_orbit=.true.
ia_dt_vals=30
ia_iniday=30
ia_fname_orbit_igcm=$CODEDIR/genie-igcm/data/input/igcm_orbit_deglac.nc

