# $Id

# 15) GENIE_IG_SL_SL_DEGLAC_FLUXMAKER
# igcm 120-year integration with slab ocean and slab seaice
# Used to generate flux files for the ocean and seaice from the 
#   last 100 years of the integration.
# Use modern boundary conditions as in the standard peltier 
#   deglaciation run

EXPID=genie_ig_sl_sl_deglac_fluxmaker
OUTDIR=$DUMP2HOLD/ggdjl/genie_output

ma_koverall_total=1036800
ss_flag_fixedextent=.false.
ma_flag_fixedseaice=.FALSE.
ma_flag_slabseaice=.TRUE.
ma_flag_fixedocean=.FALSE.
ma_flag_slabocean=.TRUE.
ss_slab_maker=.true.
so_slab_maker=.true.

ss_start_slab_av=28801
ss_end_slab_av=172800
so_start_slab_av=3601
so_end_slab_av=21600

# **********************************************************
# The bits below to change to modern vals from deglaciation,
#   apart from co2, which has post-industrial.

# igcm: vegetation and runoff:
ia_fname_vegetation=$CODEDIR/genie-igcm/data/input/limit_pelt_0_new.nc
ia_fname_runoff=$CODEDIR/genie-igcm/data/input/runoff_pelt_nn_t21.nc

# fixedchem:
fc_co2_fix=345.0e-6

# fixedicesheet:
ia_LOROG=.false.
fi_fname_orog=$CODEDIR/genie-fixedicesheet/data/input/limit_pelt_0_new.nc
fi_fname_icefrac=$CODEDIR/genie-fixedicesheet/data/input/limit_pelt_0_new.nc
fi_fname_iland=$CODEDIR/genie-fixedicesheet/data/input/limit_pelt_0_new.nc

# igcm orbit:
ia_exact_orbit=.true.
ia_p_zecc=0.01724
ia_p_zobl=23.446
ia_p_zw=281.37
ia_p_zproff=-1.44994
