# $Id: genie_ig_fi_fi_ml_restartmake_test.config 3708 2008-01-14 14:30:56Z gethin-williams $
# Fast test

#REMAKE=FALSE
EXPID=genie_ig_fi_fi_ml_restartmake

TEST_NAME=${EXPID}_regtest
ASSUMEDGOOD_NAME=${EXPID}_assumedgood
KNOWNGOOD_NAME=${EXPID}_knowngood
BUILDTEST_NAME=${EXPID}_buildtest

TESTFILE=igcm/igcm_da_2000_02.nc

ma_koverall_total=744

ma_flag_land=.true.

fo_dt_restart_fixedocean=15

fs_dt_restart_fixedseaice=120

ia_KOUNTR=720
ia_ldaily=.true.
ia_dt_restart_igcmlandsurf=720
ia_dt_restart_igcmoceansurf=720
ia_itsll=1

###################################
# GENIE-land variables
###################################
ml_irest_land=24
ml_idiag_land=720
ml_c_restart=$CODEDIR/genie-mosestriffid/data/input/land_rs_igcm_t21_potential.nc
