# AN IGCM-FIXEDOCEAN-FIXEDSEAICE-GENIELAND INTEGRATION OF 10 YEARS
# Fixed present-day vegetation
# Monthly restart files from all components
# Optimal nsga2 tuning towards the ocean surface fluxes of 
# Runoff, evaporation and precipitation (from HadCM3 preindustrial)
EXPID=genie_ig_fi_fi_ml_opt_PRE
###################################
# GENIE variables
###################################
ma_koverall_total=86400
ma_flag_land=.true.
###################################
# IGCM variables
###################################
ia_itsll=1
ia_dt_restart_igcmoceansurf=720
ia_KOUNTR=720
###################################
# Fixed-ocean variables
###################################
fo_dt_restart_fixedocean=15
###################################
# Fixed-seaice variables
###################################
fs_dt_restart_fixedseaice=120
###################################
# GENIE-land variables
###################################
ml_irest_land=720
# **********************************************************
# For the latitude-varying albedo - IGCM
ia_lvaralbedo=.true.
# **********************************************************
# **********************************************************
# For CO2 to pre-indistrial (279ppmv)
fc_co2_fix=279.0e-6
# **********************************************************
# **********************************************************
# For Tiedtke convection
ia_lcr_tiedtke=.true.
ia_lcr=.false.
# **********************************************************
# Fixed SSTs 
fo_fname_sstetc=../../genie/genie-fixedocean/data/input/sst_xbmsc.nc
fs_fname_sstetc=../../genie/genie-fixedseaice/data/input/sst_xbmsc.nc
      
 #Now the tunable parameters are set
 ia_zradef=19.72641944885253   
 ia_supersatlarg=0.039168957620859   
 ia_supersatconv=0.028729395940899   
 ia_cloudconvnorm=0.120451770722866   
 ia_cloudconvbase=0.972368717193603   
 ia_emissconsta=1.296855926513671   
 ia_emissconstb=139.3015899658203   
 ia_blvad=4.715995311737060   
 ia_fluxfactor=1.008058667182922   
 ia_enhancestable=0.050045788288116   
 ia_enhancelim=2.021733760833740   
 ia_blrh=81.43833923339843   
 ia_txblcnst=4.926446914672851   
 ia_tyblcnst=4.926446914672851   
 ia_humcloudmin=0.605064094066619   
 ia_humcloudmax=0.850961565971374   
 ia_powercloud=1.092918157577514   
 ia_cloudhfact=1.816163063049316   
 ia_cloudmfact=3.869276523590087   
 ia_cloudlfact=3.914148330688476   
 ia_increaseu=9.695055007934570   
 ia_increaseq=0.624078154563903   
 ia_increaset=3.046932220458984   
 ia_albedo_fix=0.056630037724971   
 ia_shsstar=5.740521430969238   
 ia_snolook2=0.827301561832427   
 ia_akqv=1.174798488616943   
 ia_trcnv=46.25411987304687   
 ia_rhbl=0.889346778392791   
 ia_rhil=1.193956017494201   
 ia_entmax=0.440109878778457   
 ia_smf=0.378846168518066   
 ia_trshc=29.28321075439453   
 ia_trvdi=47.54224777221679   
 ia_trvds=30.41947555541992   
 ia_redshc=0.295054942369461   
 ia_rhgrad=1.066595196723938   
 ia_segrad=0.230302199721336   
 ia_rough_ocean=0.000352793053025   
 fi_albedo_icesheet=0.673663020133972   
 fo_albedo_ocean=0.074368134140968   
 fs_albedo_seaice=0.691367506980896   
