# $Id: genie_ig_go6432_sl_restartread_test.config 4130 2008-04-17 14:48:16Z andy-ridgwell $
# AN IGCM-GOLDSTEIN-SLABSEAICE INTEGRATION OF 2000 years,
#  with GA tuned parameters.

EXPID=genie_ig_go6432_sl_restartread

# must re-compile with double precision 
GENIEDP=TRUE
IGCMATMOSDP=TRUE
#REMAKE=FALSE

TEST_NAME=${EXPID}_regtest
ASSUMEDGOOD_NAME=genie_ig_go6432_sl_restartmake
KNOWNGOOD_NAME=${EXPID}_knowngood
BUILDTEST_NAME=${EXPID}_buildtest

RESTARTREAD="TRUE"

TESTFILE=igcm/igcm_cl_2000_02.nc

# For high-res goldstein
GOLDSTEINNLONSOPTS='$(DEFINE)GOLDSTEINNLONS=64'
GOLDSTEINNLATSOPTS='$(DEFINE)GOLDSTEINNLATS=32'
go_grid=2
go_topo=igcmv3
go_Tdata=igcmv3_tempann.silo
go_Sdata=igcmv3_saliann.silo

fi_fname_orog=$CODEDIR/genie-igcm/data/input/limit_goldstein6432.nc
fi_fname_iland=$CODEDIR/genie-igcm/data/input/limit_goldstein6432.nc
fi_fname_icefrac=$CODEDIR/genie-igcm/data/input/limit_goldstein6432.nc
ia_fname_vegetation=$CODEDIR/genie-igcm/data/input/limit_goldstein6432.nc
ia_fname_runoff=$CODEDIR/genie-igcm/data/input/runoff_goldstein6432_nn_t21.nc

# these bits set up the correct modules
ma_flag_goldsteinocean=.TRUE.
ma_flag_slabseaice=.TRUE.
ma_flag_fixedocean=.FALSE.
ma_flag_fixedseaice=.FALSE.

# this is to make 180 timesteps per year from 100 default
go_9=180
# this is for a 360-day year in goldstein
go_8=360
# this is to control goldstein output periods
#   npstp='health check' from 1000=10 years to 90000=500 years
#   iwstp='restarts' from 50000=500 years to 1800=10 years
#   itstp='time series' from 100=1 year to 9000=5 years
#   ianav='an average' from 50000=500 years to 90000=500 years
go_3=90000
go_4=15
go_5=900
go_6=90000

# slab sea ice
ss_flag_fixedextent=.false.

# For monthly restarts and 1-month run
ma_koverall_total=720
ia_dt_restart_igcmlandsurf=720
ia_dt_restart_igcmoceansurf=720
ia_KOUNTR=720
ss_dt_restart_slabseaice=120

ia_fname_restart_igcmlandsurf=$OUTROOT/$ASSUMEDGOOD_NAME/igcm/igcmlandsurf_restart_2000_01_30.nc
ia_fname_restart_igcmoceansurf=$OUTROOT/$ASSUMEDGOOD_NAME/igcm/igcmoceansurf_restart_2000_01_30.nc
ia_LSHORT=.false.
ia_fname_spectral=$OUTROOT/$ASSUMEDGOOD_NAME/igcm/igcm_rs_2000_01.nc
ia_fname_gridpt=$OUTROOT/$ASSUMEDGOOD_NAME/igcm/igcm_rg_2000_01.nc
ia_coldstart=.false.
go_7=c

# desire to change just goldstein?
go_23=spn.1

ss_fname_restart_slabseaice=$OUTROOT/$ASSUMEDGOOD_NAME/slabseaice/slabseaice_restart_2000_01_30.nc

go_18=y

go_21=$OUTROOT/$ASSUMEDGOOD_NAME/goldstein/goldstein_restart_2000_01_30.nc

# AJR 08/04/15 (Gethin direction ...)
go_19='y'
