# AN IGCM-FIXEDOCEAN-FIXEDSEAICE-GENIELAND INTEGRATION OF 10 YEARS
# Fixed present-day vegetation
# Monthly restart files from all components
#Optimal nsga2 tuning towards the ocean surface fluxes of
#Ocean surface energy fluxes (from HadCM3 preindustrial)
EXPID=genie_ig_fi_fi_ml_nsga2_FLUXES

###################################
# GENIE variables
###################################
ma_koverall_total=86400
ma_flag_land=.true.
###################################
# IGCM variables
###################################
ia_itsll=1
ia_dt_restart_igcmoceansurf=720
ia_KOUNTR=720
###################################
# Fixed-ocean variables
###################################
fo_dt_restart_fixedocean=15
###################################
# Fixed-seaice variables
###################################
fs_dt_restart_fixedseaice=120
###################################
# GENIE-land variables
###################################
ml_irest_land=720
# **********************************************************
# For the latitude-varying albedo - IGCM
ia_lvaralbedo=.true.
# **********************************************************
# **********************************************************
# For CO2 to pre-indistrial (279ppmv)
fc_co2_fix=279.0e-6
# **********************************************************
# **********************************************************
# For Tiedtke convection
ia_lcr_tiedtke=.true.
ia_lcr=.false.
# **********************************************************
# Fixed SSTs 
fo_fname_sstetc=../../genie/genie-fixedocean/data/input/sst_xbmsc.nc
fs_fname_sstetc=../../genie/genie-fixedseaice/data/input/sst_xbmsc.nc
 
 #Now the tunable parameters are set
 ia_zradef=19.72641944885253   
 ia_supersatlarg=0.039187271147966   
 ia_supersatconv=0.029205586761236   
 ia_cloudconvnorm=0.119670331478118   
 ia_cloudconvbase=0.997374832630157   
 ia_emissconsta=1.298809528350830   
 ia_emissconstb=139.3015899658203   
 ia_blvad=4.718925476074218   
 ia_fluxfactor=1.009035468101501   
 ia_enhancestable=0.050778388977050   
 ia_enhancelim=2.021733760833740   
 ia_blrh=119.8852233886718   
 ia_txblcnst=4.945201396942138   
 ia_tyblcnst=4.945201396942138   
 ia_humcloudmin=0.605064094066619   
 ia_humcloudmax=0.856431603431701   
 ia_powercloud=1.091452956199646   
 ia_cloudhfact=1.816163063049316   
 ia_cloudmfact=3.715430498123168   
 ia_cloudlfact=3.913232564926147   
 ia_increaseu=7.446703433990478   
 ia_increaseq=1.250012159347534   
 ia_increaset=2.253891944885253   
 ia_albedo_fix=0.050183150917291   
 ia_shsstar=2.326943397521972   
 ia_snolook2=0.833943843841552   
 ia_akqv=1.150378465652465   
 ia_trcnv=22.15814971923828   
 ia_rhbl=1.646098852157592   
 ia_rhil=1.596593379974365   
 ia_entmax=0.936568975448608   
 ia_smf=0.966025650501251   
 ia_trshc=10.20775318145752   
 ia_trvdi=35.32051467895507   
 ia_trvds=33.52985382080078   
 ia_redshc=0.296031743288040   
 ia_rhgrad=1.067081212997436   
 ia_segrad=0.230302199721336   
 ia_rough_ocean=0.001524954219348   
 fi_albedo_icesheet=0.787802219390869   
 fo_albedo_ocean=0.074954211711883   
 fs_albedo_seaice=0.691367506980896   
