# $Id: genie_ig_fi_sl_dyex.config 1730 2005-01-25 12:56:38Z cvs-gw $

# 14) GENIE_IG_FI_SL_DYEX
# igcm 10-year integration with fixed ocean and slab (dynamic extent) seaice

EXPID=genie_ig_fi_sl_dyex

ma_koverall_total=86400
ma_lgraphics=.false.
ia_ldaily=.true.
ss_flag_fixedextent=.false.
ma_flag_fixedseaice=.FALSE.
ma_flag_slabseaice=.TRUE.
