# $Id: genie_ig_go_fi.config 1730 2005-01-25 12:56:38Z cvs-gw $
# AN IGCM-GOLDSTEIN-FIXEDSEAICE INTEGRATION OF 1 MONTH.

EXPID=genie_ig_go_fi_test

# these bits set up the correct modules
ma_flag_goldsteinocean=.TRUE.
ma_flag_fixedocean=.FALSE.

# this is to turn graphics off
ma_lgraphics=.false.

# this is to make 180 timesteps per year from 100 default
go_9=180

# this is for a 360-day year in goldstein
go_8=360

# this is to control goldstein output periods
#   npstp='health check' from 1000=10 years to 90000=500 years
#   iwstp='restarts' from 50000=500 years to 18000=100 years
#   itstp='time series' from 100=1 year to 9000=50 years
#   ianav='an average' from 50000=500 years to 90000=500 years
go_3=90000
go_4=18000
go_5=9000
go_6=90000
