# $Id: genie_igfi_go_sl.config 1809 2005-02-14 11:04:03Z cvs-djl $
# AN IGCM-GOLDSTEIN-SLABSEAICE INTEGRATION OF 1 MONTH.
# Add in ncep water fluxes.

EXPID=genie_igfi_go_sl

# these bits set up the correct modules
ma_flag_goldsteinocean=.TRUE.
ma_flag_slabseaice=.TRUE.
ma_flag_fixedocean=.FALSE.
ma_flag_fixedseaice=.FALSE.
ma_flag_fixedatmos=.true.

# this is to turn graphics off
ma_lgraphics=.false.

# this is to make 180 timesteps per year from 100 default
go_9=180

# this is for a 360-day year in goldstein
go_8=360

# this is to control goldstein output periods
#   npstp='health check' from 1000=10 years to 90000=500 years
#   iwstp='restarts' from 50000=500 years to 18000=100 years
#   itstp='time series' from 100=1 year to 9000=50 years
#   ianav='an average' from 50000=500 years to 90000=500 years
go_3=90000
go_4=18000
go_5=9000
go_6=90000

# slab sea ice
ss_flag_fixedextent=.false.

# for the fixed atmos
fa_fname_climate=$CODEDIR/genie-fixedatmos/data/input/limit_fix_ncp.nc
fa_precip_flag=.true.
fa_latent_flag=.false.
fa_sensible_flag=.false.
fa_netsolar_flag=.false.
fa_netlong_flag=.false.
fa_stressx_flag=.false.
fa_stressy_flag=.false.
fa_evap_flag=.true.
fa_runoff_flag=.true.
fa_landmask_flag=.false.
fa_timestep=3600
fa_output_time=720
fa_dt_restart_fixedatmos=86400

ia_lownprecip=.true.

# for atlantic check:
ma_flag_checkfluxes_atlantic=.true.
fa_runoff_flag=.true.

