# $Id: genie_ig_fi_fi_glim_test.config 3270 2007-04-30 13:28:56Z cvs-icr $
# AN IGCM-FIXEDOCEAN-FIXEDSEAICE INTEGRATION, FORCING GLIMMER
# The run is for slightly more than 4 years 

EXPID=genie_ig_fi_fi_glim

TEST_NAME=${EXPID}_regtest
ASSUMEDGOOD_NAME=${EXPID}_assumedgood
KNOWNGOOD_NAME=${EXPID}_knowngood
BUILDTEST_NAME=${EXPID}_buildtest

TESTFILE=icesheet/genie_ig_fi_fi_glim.1a.nc

ma_koverall_total=35000
ma_flag_icesheet=.TRUE.
ma_kicesheet_loop=1

ia_LOROG=.false.

gl_config_file=$RUNTIME_ROOT/genie-main/configs/genie_ig_fi_fi_glim_test.glimmer.config
