# $Id: genie_ig_sl_sl_lgm.config 3520 2007-10-22 13:28:38Z dan-lunt $

# 15) GENIE_IG_SL_SL_LGM
# igcm 10-year integration with slab ocean and slab seaice
# Ocean fluxes as created by standard fluxmaker job
# LGM CONFIGURATION

EXPID=genie_ig_sl_sl_lgm
#EXPDIR=/export/dryas/array-02/ggdjl/genie_output/$EXPID

ma_koverall_total=86400
ma_lgraphics=.false.
#ia_ldaily=.true.
ss_flag_fixedextent=.false.
ma_flag_fixedseaice=.FALSE.
ma_flag_slabseaice=.TRUE.
ma_flag_fixedocean=.FALSE.
ma_flag_slabocean=.TRUE.
so_fname_ocflux=$OUTDIR/genie_ig_sl_sl_fluxmaker/slabocean/slabocean_fluxes.nc
so_fname_siflux=$OUTDIR/genie_ig_sl_sl_fluxmaker/slabseaice/slabseaice_fluxes.nc
ss_fname_ocflux=$OUTDIR/genie_ig_sl_sl_fluxmaker/slabocean/slabocean_fluxes.nc
ss_fname_siflux=$OUTDIR/genie_ig_sl_sl_fluxmaker/slabseaice/slabseaice_fluxes.nc

# **********************************************************
# The bits below to change to LGM:

# ORBITAL CHANGES
ia_exact_orbit=.true.
ia_p_zecc=0.018994
ia_p_zobl=22.944
ia_p_zw=294.49
ia_p_zproff=-15.08

# LAND-SEA MASK CHANGE
fi_fname_iland=$CODEDIR/genie-utilities/data/output/limit_lgm_new.nc

# VEGETATION CHANGE
ia_fname_vegetation=$CODEDIR/genie-utilities/data/output/limit_lgm_new.nc

# OROGRAPHY CHANGE
ia_LOROG=.false.
fi_fname_orog=$CODEDIR/genie-utilities/data/output/limit_lgm_new.nc

# ICESHEET AREA CHANGE
fi_fname_icefrac=$CODEDIR/genie-utilities/data/output/limit_lgm_new.nc

# GAS CHANGES

fc_co2_fix=185.0E-6
fc_ch4_fix=0.35E-6
fc_n2o_fix=200.0E-9
ia_VMRHALO=0.0
