# $Id: genie_ig_go_sl_tune.config 1730 2005-01-25 12:56:38Z cvs-gw $
# AN IGCM-GOLDSTEIN-SLABSEAICE INTEGRATION OF 100 years.
# Used for a tuning exercise with Andrew Price.
# The IGCM has been tuned to give decent surface fluxes.
# This not does 100 years fully coupled.

EXPID=genie_ig_go_sl_tune

# these bits set up the correct modules
ma_flag_goldsteinocean=.TRUE.
ma_flag_slabseaice=.TRUE.
ma_flag_fixedocean=.FALSE.
ma_flag_fixedseaice=.FALSE.

# this is to turn graphics off
ma_lgraphics=.false.

# this is to make 180 timesteps per year from 100 default
go_9=180
# this is for a 360-day year in goldstein
go_8=360
# this is to control goldstein output periods
#   npstp='health check' 90000 = 500 years
#   iwstp='restarts' 15 = 1 month
#   itstp='time series'9000 = 50 years
#   ianav='an average' 90000 = 500 years
go_3=90000
go_4=15
go_5=9000
go_6=90000

# slab sea ice
ss_flag_fixedextent=.false.

#Total run length=100 years 
ma_koverall_total=864000

# Don't bother writing main data
ma_write_flag_sic=.false.
ma_write_flag_atm=.false.
ma_write_flag_ocn=.false.

# Restarts for atmosphere at 10 years
ia_dt_restart_igcmlandsurf=86400
ia_dt_restart_igcmoceansurf=86400
ss_dt_restart_slabseaice=14400
ia_KOUNTR=86400

