# $Id
# AN IGCM-GOLDSTEIN-SLABSEAICE INTEGRATION OF 2000 years,
#  with GA tuned parameters.

EXPID=genie_ig_go6432_sl_gaalbedofluxcorr

# Length of the simulation
ma_koverall_total=17280000

# these bits set up the correct modules
ma_flag_goldsteinocean=.TRUE.
ma_flag_slabseaice=.TRUE.
ma_flag_fixedocean=.FALSE.
ma_flag_fixedseaice=.FALSE.

# For high-res goldstein
GOLDSTEINNLONSOPTS='$(DEFINE)GOLDSTEINNLONS=64'
GOLDSTEINNLATSOPTS='$(DEFINE)GOLDSTEINNLATS=32'
go_grid=2
go_topo=igcmv3
go_Tdata=igcmv3_tempann.silo
go_Sdata=igcmv3_saliann.silo
fi_fname_orog=$CODEDIR/genie-igcm/data/input/limit_goldstein6432.nc
fi_fname_iland=$CODEDIR/genie-igcm/data/input/limit_goldstein6432.nc
fi_fname_icefrac=$CODEDIR/genie-igcm/data/input/limit_goldstein6432.nc
ia_fname_vegetation=$CODEDIR/genie-igcm/data/input/limit_goldstein6432.nc
ia_fname_runoff=$CODEDIR/genie-igcm/data/input/runoff_goldstein6432_nn_t21.nc

# For flux-correction
ia_lfluxadjust_water=.true.
ia_water_transport1=0.44
ia_water_transport2=0.125
ia_water_transport3=0.065
ia_fname_fluxadjust=$CODEDIR/genie-igcm/data/input/igcm_fluxadjust.nc

# for non-prescribed sea ice extent
ss_flag_fixedextent=.false.

# for latitudinally-varying albedo
ia_lvaralbedo=.true.

# this is to make 180 timesteps per year from 100 default
go_9=180
# this is for a 360-day year in goldstein
go_8=360

# The bits below to change to a long run (10-yearly restarts):
ia_lmonthly=.false.
ma_dt_write=86400
ia_dt_restart_igcmlandsurf=86400
ia_dt_restart_igcmoceansurf=86400
ss_dt_restart_slabseaice=14400
fi_dt_restart_fixedicesheet=360
fc_dt_restart_fixedchem=360
ia_KOUNTR=86400
go_3=90000
go_4=1800
go_5=900
go_6=90000



# Here are the GA parameters:

# Radiation, namelist INIRADN.
# zradef: min=1.25, max=20
# supersatlarg: min=0.0025, max=0.04
# supersatconv: min=0.0025, max=0.04
# cloudconvnorm: min=0.05, max=0.45
# cloudconvbase: min=0.8, max=1.0
# emissconsta: min=0.8, max=1.3
# emissconstb: min=60, max=140
ia_zradef=3.09180402755737
ia_supersatlarg=0.03298763558269
ia_supersatconv=0.01273122709244
ia_cloudconvnorm=0.44094017148018
ia_cloudconvbase=0.80181926488876
ia_emissconsta=1.15192306041718
ia_emissconstb=1.278144073486328e+02

# Surface fluxes, namelist INIFLUX.
# blvad: min=1, max=5
# fluxfactor: min=1, max=5
# enhancestable: min=0.05, max=0.8
# enhancelim: min=2, max=6
# blrh: min=80, max=120
# txblcnst: min=0.2, max=5.0
# tyblcnst: min=0.2, max=5.0
ia_blvad=1.13211238384247
ia_fluxfactor=1.32747256755829
ia_enhancestable=0.37312272191048
ia_enhancelim=2.01098895072937
ia_blrh=1.197875442504883e+02
ia_txblcnst=1.0
ia_tyblcnst=1.0

# Cloud properties, namelist INICLOUD
# humcloudmin: min=0.6, max=0.95
# humcloudmax: min=0.85, max=1.2
# powercloud: min=1, max=3
# cloudhfact: min=0.25, max=4.0
# cloudmfact: min=0.25, max=4.0
# cloudlfact: min=0.25, max=4.0
# pcloudfact: min=0.085, max=0.165
# pcloudmin: min=0.0015, max=15
# cloudshallow: min=0.25, max=0.45
ia_humcloudmin=0.72626066207886
ia_humcloudmax=0.90848290920258
ia_powercloud=1.00158727169037
ia_cloudhfact=1.0
ia_cloudmfact=1.0
ia_cloudlfact=1.0
ia_pcloudfact=0.09858781844378
ia_pcloudmin=3.01310348510742
ia_cloudshallow=0.26417583227158

# Vertical diffusion, namelist INIVDIFF
# increaseu: min=1, max=10
# increaseq: min=0.6, max=1.4
# increaset: min=0.25, max=4.0
ia_increaseu=7.33241748809814
ia_increaseq=0.88879120349884
ia_increaset=0.66781133413315

# Land-surface scheme, namelist INILSURF
# albedo_fix: min=-0.05, max=0.15
# shsstar: min=0.003, max=30
# snolook2: min=0.65, max=0.85
ia_albedo_fix=-0.03963369876146
ia_shsstar=0.12936098873615
ia_snolook2=0.8

# Physics parameters, namelist INIPHYS
# akqv: min=0.6, max=1.4
# cbadjt: min=1, max=5
# cubmt: min=1, max=5
ia_akqv=1.12771677970886
ia_cbadjt=4.91135549545288
ia_cubmt=1.37142860889435

# Roughness length, namelist INIROUGH
# rough_ocean: min=0.00025, max=0.004
ia_rough_ocean=3.711080644279718e-04

# icesheet paramteres, namelist FIXEDICESHEET_CONTROL
# albedo_icesheet, min=0.6, max=0.8
fi_albedo_icesheet=0.75

# ocean parameters
# albedo_ocean: min=0.025, max=0.075
# go_13: min=1.0, max=3.0
# go_14: min=300.0, max=10000.0
# go_15: min=2.0e-6, max=2.0e-4
# go_16: min=0.5, max=5.0
go_albedo=0.07422161102295
go_13=2.00
go_14=2000.
go_15=2e-5
go_16=2.5

# seaice parameters
# albedo_seaice: min=0.45, max=0.8
ss_albedo_seaice=0.46517705917358


