# $Id: genie_ig_fi_fi_restartmake_test.config 2805 2005-12-19 15:08:30Z cvs-djl $
# Fast test

EXPID=genie_ig_fi_fi_restartmake

TEST_NAME=${EXPID}_regtest
ASSUMEDGOOD_NAME=${EXPID}_assumedgood
KNOWNGOOD_NAME=${EXPID}_knowngood
BUILDTEST_NAME=${EXPID}_buildtest

TESTFILE=igcm/igcm_da_2000_02.nc

ma_koverall_total=1440

ma_lgraphics=.false.

fo_dt_restart_fixedocean=15

fs_dt_restart_fixedseaice=120

ia_KOUNTR=720
ia_ldaily=.true.
ia_dt_restart_igcmlandsurf=720
ia_dt_restart_igcmoceansurf=720
