
[grid]
ewn        = 76
nsn        = 141
upn        = 11
dew        = 20000.0
dns        = 20000.0

[time]
dt   = 1.
ntem = 1.
nvel = 1.

[options]
temperature          = 0
flow_law             = 0
basal_water          = 2
marine_margin        = 1
slip_coeff           = 0
evolution            = 2
vertical_integration = 0
topo_is_relaxed      = 0
periodic_ew          = 0
hotstart             = 0

[parameters]
log_level     = 6
ice_limit     = 100.
marine_limit  = -200.
geothermal    = -5.e-2
flow_factor   = 3
hydro_time    = 1000.
basal_tract   = 2 10 10 0 1

[isostasy]
lithosphere = 1
asthenosphere = 1

[projection]
type = STERE
centre_longitude = 321.0
centre_latitude = 90.0
false_easting = 800000.0
false_northing = 3400000.0
standard_parallel = 77.5

[GLINT climate]
precip_mode   = 1
acab_mode     = 4
ice_albedo    = 0.4
lapse_rate    = 8.0

[GLIMMER annual pdd]
dx:          1
dy:          1
ix:          0
iy:          -50
nx:          31
ny:          71
wmax:        0.6
pddfac_ice:  0.008
pddfac_snow: 0.003
dd_sigma:    5.0

########################################
# I/O configuration follows
########################################

[CF default]
title:        "GENIE IGCM-FI-FI forcing test"
institution:  "GENIE"
references:   "some reference"
comment:      "This is expt: $EXPID"

[CF output]
name:      $RUNTIME_OUTDIR/$GLIMMER_OUTDIR/$EXPID.1a.nc
frequency: 1
variables: "prcp artm acab ablt thk usurf glint_snowd glint_siced uvel vvel bmlt btemp"

[CF input]
name: $RUNTIME_ROOT/genie-icesheet/data/gland20.input.nc
