# AN IGCM-FIXEDOCEAN-FIXEDSEAICE-GENIELAND INTEGRATION OF 10 YEARS
# Fixed present-day vegetation
# Monthly restart files from all components

EXPID=genie_ig_fi_fi_ml

###################################
# GENIE variables
###################################
ma_koverall_total=86400
ma_flag_land=.true.

###################################
# IGCM variables
###################################
ia_itsll=1
ia_dt_restart_igcmoceansurf=720
ia_KOUNTR=720

###################################
# Fixed-ocean variables
###################################
fo_dt_restart_fixedocean=15

###################################
# Fixed-seaice variables
###################################
fs_dt_restart_fixedseaice=120

###################################
# GENIE-land variables
###################################
ml_irest_land=720
