# genie_ig_fi_fi_GAtuned.config
#
# 20/01/2005
#
# This config file provides tuned parameters for the genie_ig_fi_fi model.
# The tuning target was a combination of energy fluxes, wind stresses and
# precipitation measures. The objective function was a sum of these individual
# RMS error statistics. The overall error was reduced by ~36%, in summary:
#
#                       Tuned     Default   Tuned/Default
#
# netsolar              0.1571    0.3131    0.5017
# netlong               0.1669    0.4309    0.3872
# sensible              0.5071    0.9362    0.5417
# latent                0.2340    0.3460    0.6765
# stressx               0.5304    0.9603    0.5523
# stressy               0.7515    1.1825    0.6356
# latent (no mask)      0.2880    0.3702    0.7780
# prate (no mask)       0.6030    0.5843    1.0320
#
# RMS Error             3.2380    5.1235    0.6320
#
# This experiment was performed during the week 10/12/04 to optimise
# 30 parameters of the IGCM. The tuning target calculated in the function
# rmserror_igcm_ncep.m compares the model state with NCEP data for the following fields:
#
# latent
# sensible
# netsolar
# netlong
# stressx
# stressy
# latent_nomask   (No application of the landmask)
# prate_nomask    (No application of the landmask)
#
# Unless otherwise stated, the landmask is applied so that only the data points
# over the ocean grid are used in the calculation. Calculcation of the error was
# performed using the average of the final 5 years of output from a 6 year run.
#
# These results are archived in the database in the datagroup 'dg_b9049fd3-ce45-4e2d-814c-51a8328cdf1b'.
#
# A GA using population size 200 has been applied over 30 iterations to obtain
# these parameters.
#

# IGCM tuned parameters:
ia_zradef=3.09180402755737
ia_cloudconvnorm=0.44094017148018
ia_cloudconvbase=0.80181926488876
ia_fluxfactor=1.32747256755829
ia_enhancestable=0.37312272191048
ia_humcloudmin=0.72626066207886
ia_albedo_fix=-0.03963369876146
ia_blvad=1.13211238384247
ia_akqv=1.12771677970886
ia_increaseq=0.88879120349884
ia_rough_ocean=3.711080644279718e-04
ia_supersatconv=0.01273122709244
ia_supersatlarg=0.03298763558269
ia_emissconstb=1.278144073486328e+02
ia_humcloudmax=0.90848290920258
ia_powercloud=1.00158727169037
ia_enhancelim=2.01098895072937
ia_blrh=1.197875442504883e+02
ia_increaseu=7.33241748809814
ia_increaset=0.66781133413315
ia_shsstar=0.12936098873615
ia_emissconsta=1.15192306041718
ia_lcr=.true.
ia_cbadjt=4.91135549545288
ia_pcloudmin=3.01310348510742
ia_pcloudfact=0.09858781844378
ia_cloudshallow=0.26417583227158
ia_cubmt=1.37142860889435

# Fixed-ocean tuned parameters:
fo_albedo_ocean=0.07422161102295

# Fixed-seaice tuned parameters:
fs_albedo_seaice=0.46517705917358

