# $Id: genie_ig_sl_sl_std.config 1730 2005-01-25 12:56:38Z cvs-gw $

# 15) GENIE_IG_SL_SL_STD
# igcm 10-year integration with slab ocean and slab seaice
# Ocean fluxes as created by standard fluxmaker job

EXPID=genie_ig_sl_sl_std

ma_koverall_total=86400
ma_lgraphics=.false.
#ia_ldaily=.true.
ss_flag_fixedextent=.false.
ma_flag_fixedseaice=.FALSE.
ma_flag_slabseaice=.TRUE.
ma_flag_fixedocean=.FALSE.
ma_flag_slabocean=.TRUE.
so_fname_ocflux=$OUTDIR/genie_ig_sl_sl_fluxmaker/slabocean/slabocean_fluxes.nc
so_fname_siflux=$OUTDIR/genie_ig_sl_sl_fluxmaker/slabseaice/slabseaice_fluxes.nc
ss_fname_ocflux=$OUTDIR/genie_ig_sl_sl_fluxmaker/slabocean/slabocean_fluxes.nc
ss_fname_siflux=$OUTDIR/genie_ig_sl_sl_fluxmaker/slabseaice/slabseaice_fluxes.nc


