# $Id: genie_ig_go_gs_checkfluxes_test.config 2795 2005-12-12 12:27:30Z cvs-gw $

# IGCM-GOLDOCN-GOLDSIC model; run for 1 month, cxhecking for fluxes.

EXPID=genie_ig_go_gs_checkfluxes

GENIEDP=TRUE
IGCMATMOSDP=TRUE

TEST_NAME=${EXPID}_regtest
ASSUMEDGOOD_NAME=${EXPID}_assumedgood
KNOWNGOOD_NAME=${EXPID}_knowngood
BUILDTEST_NAME=${EXPID}_buildtest

CHECKFLUXES="TRUE"

TESTFILE=main/check_fluxes.txt

# these bits set up the correct modules
ma_flag_goldsteinocean=.TRUE.
ma_flag_goldsteinseaice=.TRUE.
ma_flag_fixedocean=.FALSE.
ma_flag_fixedseaice=.FALSE.

# this is to only write ocean-grid data in genie-main
ma_write_flag_atm=.false.
ma_write_flag_sic=.false.
# this is to control goldstein output periods
#   npstp (go_3) = 'health check' from 1000=10 years to 50000=500 years
#   iwstp (go_4) = 'restarts' from 50000=500 years to 10000=100 years
#   itstp (go_5) = 'time series' from 100=1 year to 5000=50 years
#   ianav (go_6) = 'an average' stays 50000=500 years
go_3=30
go_4=360
go_5=1
go_6=360
# this is for a 360-day year in goldstein
go_8=360
# this is to make 360 timesteps per year from 100 default
go_9=360
# this is to control seaice output periods
#   npstp (gs_3) = 'health check' from 1000=10 years to 50000=500 years
#   iwstp (gs_4) = 'restarts' from 50000=500 years to 10000=100 years
#   itstp (gs_5) = 'time series' from 100=1 year to 5000=50 years
#   ianav (gs_6) = 'an average' stays 50000=500 years
gs_3=30
gs_4=360
gs_5=1
gs_6=360
# this is for a 360-day year in goldstein sea-ice
gs_8=360.00
# this is to make 360 timesteps per year from 100 default
gs_9=360
# this changes the relative atmos/ocean/seaice calling frequency
ma_ksic_loop=24
ma_kocn_loop=24

# only one iteration of ocean blayer every hour (for speed).
ia_itslo=1

ma_flag_checkfluxes_ocn=.true.
ma_flag_checkfluxes_surf=.true.
ia_flag_checkwater_land=.true.
ia_lcheckwater=.true.

# set goldstein and seaice conservation diagnostics to every timestep.
go_6b=1
gs_6b=1

# set for monthly run to make some seaice.
ma_koverall_total=720

# set low inital temp so we get some seaice.
go_10=-2
go_11=-2
