# $Id: genie_ig_go_gs_restartread_test.config 4130 2008-04-17 14:48:16Z andy-ridgwell $

# GENIE_IG_GO_GS
# IGCM-GOLDOCN-GOLDSIC model; run for 2 months, with restart making turned on

EXPID=genie_ig_go_gs_restartread

GENIEDP=TRUE
IGCMATMOSDP=TRUE

TEST_NAME=${EXPID}_regtest
ASSUMEDGOOD_NAME=genie_ig_go_gs_restartmake
KNOWNGOOD_NAME=${EXPID}_knowngood
BUILDTEST_NAME=${EXPID}_buildtest

RESTARTREAD="TRUE"

TESTFILE=igcm/igcm_cl_2000_02.nc

# these bits set up the correct modules
ma_flag_goldsteinocean=.TRUE.
ma_flag_goldsteinseaice=.TRUE.
ma_flag_fixedocean=.FALSE.
ma_flag_fixedseaice=.FALSE.

# this is to make 180 timesteps per year from 100 default
go_9=180
gs_9=180
# this is for a 360-day year in goldstein
go_8=360
gs_8=360
# this is to control goldstein output periods
#   npstp='health check' from 1000=10 years to 90000=500 years
#   iwstp='restarts' from 50000=500 years to 1800=10 years
#   itstp='time series' from 100=1 year to 9000=5 years
#   ianav='an average' from 50000=500 years to 90000=500 years
go_3=90000
gs_3=90000
go_4=15
gs_4=15
go_5=900
gs_5=900
go_6=90000
gs_6=90000

# this changes the relative atmos/ocean/seaice calling frequency
ma_ksic_loop=48
ma_kocn_loop=48

# only one iteration of ocean blayer every hour (for speed).
ia_itslo=1

# set for 1-monthly run.
ma_koverall_total=720

ia_dt_restart_igcmlandsurf=720
ia_KOUNTR=720

ia_ldaily=.true.

# This bit to read in the restart files.....

# IGCM:
ia_fname_restart_igcmlandsurf=$OUTROOT/$ASSUMEDGOOD_NAME/igcm/igcmlandsurf_restart_2000_01_30.nc
ia_fname_restart_igcmoceansurf=$OUTROOT/$ASSUMEDGOOD_NAME/igcm/igcmoceansurf_restart_2000_01_30.nc
ia_LSHORT=.false.
ia_fname_spectral=$OUTROOT/$ASSUMEDGOOD_NAME/igcm/igcm_rs_2000_01.nc
ia_fname_gridpt=$OUTROOT/$ASSUMEDGOOD_NAME/igcm/igcm_rg_2000_01.nc
ia_coldstart=.false.


go_7=c
go_18=y
go_21=$OUTROOT/$ASSUMEDGOOD_NAME/goldstein/goldstein_restart_2000_01_30.nc

gs_7=c
gs_13=y
gs_16=$OUTROOT/$ASSUMEDGOOD_NAME/seaice/goldsic_restart_2000_01_30.nc

ma_lrestart_genie=.true.
ma_fname_fluxrestart=$OUTROOT/$ASSUMEDGOOD_NAME/main/main_fluxes_2000_01_30

# AJR 08/04/15 (Gethin direction ...)
go_19='y'
