# $Id
# AN IGCM-FIXEDOCEAN-FIXEDSEAICE INTEGRATION OF 10 YEARS.
# This shows which parameters are tunable in this combination.

EXPID=genie_ig_fi_fi_tunable

# To set for 10 years
ma_koverall_total=86400


# THESE ARE THE TUNABLE PARAMETERS:

# N.B. 
# HUMCLOUDMAX > HUMCLOUDMIN
# TXBLCNST = TYBLCNST
# SNOLOOK2 > ALBEDO_ICEHSEET

# Radiation, namelist INIRADN.
# zradef: min=1.25, max=20
# supersatlarg: min=0.0025, max=0.04
# supersatconv: min=0.0025, max=0.04
# cloudconvnorm: min=0.05, max=0.45
# cloudconvbase: min=0.8, max=1.0
# emissconsta: min=0.8, max=1.3
# emissconstb: min=60, max=140
ia_zradef=5.0
ia_supersatlarg=0.01
ia_supersatconv=0.01
ia_cloudconvnorm=0.25
ia_cloudconvbase=1.0
ia_emissconsta=1.08942549
ia_emissconstb=100.0


# Surface fluxes, namelist INIFLUX.
# blvad: min=1, max=5
# fluxfactor: min=1, max=5
# enhancestable: min=0.05, max=0.8
# enhancelim: min=2, max=6
# blrh: min=80, max=120
# txblcnst: min=0.2, max=1.2
# tyblcnst: min=0.2, max=1.2
ia_blvad=3.0
ia_fluxfactor=2.5
ia_enhancestable=0.2
ia_enhancelim=4.0
ia_blrh=100.0
ia_txblcnst=1.0
ia_tyblcnst=1.0


# Cloud properties, namelist INICLOUD
# pcloudfact: min=0.085, max=0.165
# pcloudmin: min=0.0015, max=15
# cloudshallow: min=0.25, max=0.45
# humcloudmin: min=0.6, max=0.95
# humcloudmax: min=0.85, max=1.2
# powercloud: min=1, max=3
ia_pcloudfact=0.125
ia_pcloudmin=0.15
ia_cloudshallow=0.35
ia_humcloudmin=0.8
ia_humcloudmax=1.0
ia_powercloud=2.0


# Vertical diffusion, namelist INIVDIFF
# increaseu: min=1, max=10
# increaseq: min=0.6, max=1.4
# increaset: min=0.25, max=4.0
ia_increaseu=5.0
ia_increaseq=1.0
ia_increaset=1.0


# Land-surface scheme, namelist INILSURF
# albedo_fix: min=-0.05, max=0.15
# shsstar: min=0.003, max=30
# snolook2: min=0.65, max=0.85
ia_albedo_fix=0.05
ia_shsstar=0.3
ia_snolook2=0.8


# Physics parameters, namelist INIPHYS
# cbadjt: min=1, max=5
# cubmt: min=1, max=5
# akqv: min=0.6, max=1.4
ia_cbadjt=3.0
ia_cubmt=3.0
ia_akqv=1.0


# Roughness length, namelist INIROUGH
# rough_ocean: min=0.00025, max=0.004
ia_rough_ocean=0.001

# icesheet paramteres, namelist FIXEDICESHEET_CONTROL
# albedo_icesheet, min=0.6, max=0.8
fi_albedo_icesheet=0.75


# ocean parameters, namelist FIXEDOCEAN_CONTROL
# albedo_ocean: min=0.025, max=0.075
fo_albedo_ocean=0.05


# seaice parameters, namelist FIXEDSEAICE_CONTROL
# albedo_seaice: min=0.5, max=0.7
fs_albedo_seaice=0.6

