# $Id: genie_ig_go_sl_restartread_l22_test.config 3320 2007-06-14 14:22:56Z andrew-price $

EXPID=genie_ig_go_sl_restartread_l22

GENIEDP=TRUE
IGCMATMOSDP=TRUE

TEST_NAME=${EXPID}_regtest
ASSUMEDGOOD_NAME=genie_ig_go_sl_restartmake_l22
KNOWNGOOD_NAME=${EXPID}_knowngood
BUILDTEST_NAME=${EXPID}_buildtest

RESTARTREAD="TRUE"

TESTFILE=igcm/igcm_cl_2000_02.nc

# these bits set up the correct modules
ma_flag_goldsteinocean=.TRUE.
ma_flag_slabseaice=.TRUE.
ma_flag_fixedocean=.FALSE.
ma_flag_fixedseaice=.FALSE.


# this is to make 180 timesteps per year from 100 default
go_9=180
# this is for a 360-day year in goldstein
go_8=360
# this is to control goldstein output periods
#   npstp='health check' from 1000=10 years to 90000=500 years
#   iwstp='restarts' from 50000=500 years to 18000=100 years
#   itstp='time series' from 100=1 year to 9000=50 years
#   ianav='an average' from 50000=500 years to 90000=500 years
go_3=90000
go_4=15
go_5=9000
go_6=90000

# slab sea ice
ss_flag_fixedextent=.false.

# This bit for 22 igcm levels:
GENIENLOPTS='$(DEFINE)GENIENL=22'
GENIENLEVRFOPTS='$(DEFINE)GENIENLEVRF=2'
GENIEMXLEVOPTS='$(DEFINE)GENIEMXLEV=22'
ia_L22L=.true.

# This bit for a 3/8 of timestep:
ma_ksic_loop=16
ma_kocn_loop=128
ma_genie_timestep=1350.0
ia_TSPD=64
ia_KOUNTR=28800
ia_KRUN=23040

# For monthly restarts and 1-month run
ma_koverall_total=1920
ia_dt_restart_igcmlandsurf=1920
ia_dt_restart_igcmoceansurf=1920
ia_KOUNTR=1920
ss_dt_restart_slabseaice=120

ia_fname_restart_igcmlandsurf=$OUTROOT/$ASSUMEDGOOD_NAME/igcm/igcmlandsurf_restart_2000_01_30.nc
ia_fname_restart_igcmoceansurf=$OUTROOT/$ASSUMEDGOOD_NAME/igcm/igcmoceansurf_restart_2000_01_30.nc
ia_LSHORT=.false.
ia_fname_spectral=$OUTROOT/$ASSUMEDGOOD_NAME/igcm/igcm_rs_2000_01.nc
ia_fname_gridpt=$OUTROOT/$ASSUMEDGOOD_NAME/igcm/igcm_rg_2000_01.nc
ia_coldstart=.false.
go_7=c

# desire to change just goldstein?
go_23=spn.1

ss_fname_restart_slabseaice=$OUTROOT/$ASSUMEDGOOD_NAME/slabseaice/slabseaice_restart_2000_01_30.nc

go_18=y

go_21=$OUTROOT/$ASSUMEDGOOD_NAME/goldstein/goldstein_restart_2000_01_30.nc
