# $Id: genie_ig_fi_fi_restartread_test.config 3177 2007-02-16 16:20:00Z cvs-gw $
# Fast test

#REMAKE=FALSE
EXPID=genie_ig_fi_fi_restartread

TEST_NAME=${EXPID}_regtest
ASSUMEDGOOD_NAME=genie_ig_fi_fi_restartmake
KNOWNGOOD_NAME=${EXPID}_knowngood
BUILDTEST_NAME=${EXPID}_buildtest

RESTARTREAD="TRUE"

TESTFILE=igcm/igcm_da_2000_02.nc

ma_lgraphics=.false.
ma_koverall_total=720

fo_dt_restart_fixedocean=15
fs_dt_restart_fixedseaice=120

ia_KOUNTR=720
ia_ldaily=.true.
ia_dt_restart_igcmlandsurf=720
ia_dt_restart_igcmoceansurf=720

ia_LSHORT=.FALSE.
ia_coldstart=.FALSE.
ia_fname_spectral=$OUTROOT/$ASSUMEDGOOD_NAME/igcm/igcm_rs_2000_01.nc
ia_fname_gridpt=$OUTROOT/$ASSUMEDGOOD_NAME/igcm/igcm_rg_2000_01.nc

fo_fname_restart_fixedocean=$OUTROOT/$ASSUMEDGOOD_NAME/fixedocean/fixedocean_restart_2000_01_30.nc
fs_fname_restart_fixedseaice=$OUTROOT/$ASSUMEDGOOD_NAME/fixedseaice/fixedseaice_restart_2000_01_30.nc

ia_fname_restart_igcmlandsurf=$OUTROOT/$ASSUMEDGOOD_NAME/igcm/igcmlandsurf_restart_2000_01_30.nc
ia_fname_restart_igcmoceansurf=$OUTROOT/$ASSUMEDGOOD_NAME/igcm/igcmoceansurf_restart_2000_01_30.nc
