# $Id: genie_ig_fi_fi_tiedtke.config 2595 2005-08-04 10:11:30Z cvs-djl $
# AN IGCM-FIXEDOCEAN-FIXEDSEAICE INTEGRATION OF 10 YEARS, NO GRAPHICS.

EXPID=genie_ig_fi_fi_tiedtke

ma_koverall_total=86400

# **********************************************************
# For Tiedtke convection
ia_lcr_tiedtke=.true.
ia_lcr=.false.
# **********************************************************
