# $Id
# AN IGCM-GOLDSTEIN-SLABSEAICE INTEGRATION OF 2000 years,
#  with GA tuned parameters.
#  And 22 vertical levels in the igcm!

EXPID=genie_igt42_go_sl_l22_new

ia_ldaily=.true.
GENIENXOPTS='$(DEFINE)GENIENX=128'
GENIENYOPTS='$(DEFINE)GENIENY=64'
IGCMNWJ2OPTS='$(DEFINE)IGCMNWJ2=462'
IGCMNNOPTS='$(DEFINE)IGCMNN=42'
IGCMMMOPTS='$(DEFINE)IGCMMM=42'

ma_koverall_total=320

# these bits set up the correct modules
ma_flag_goldsteinocean=.TRUE.
ma_flag_slabseaice=.TRUE.
ma_flag_fixedocean=.FALSE.
ma_flag_fixedseaice=.FALSE.

# this is to make 180 timesteps per year from 100 default
go_9=180
# this is for a 360-day year in goldstein
go_8=360
# this is to control goldstein output periods
#   npstp='health check' from 1000=10 years to 90000=500 years
#   iwstp='restarts' from 50000=500 years to 1800=10 years
#   itstp='time series' from 100=1 year to 9000=5 years
#   ianav='an average' from 50000=500 years to 90000=500 years
go_3=90000
go_4=180
go_5=900
go_6=90000

# slab sea ice
ss_flag_fixedextent=.false.

# **********************************************************
# The bits below to change to a long run (1-yearly restarts):
ia_lmonthly=.false.
ma_dt_write=23040
ia_dt_restart_igcmlandsurf=23040
ia_dt_restart_igcmoceansurf=23040
ss_dt_restart_slabseaice=1440
ia_KOUNTR=23040


# This bit for 22 igcm levels:
GENIEDP=TRUE
IGCMATMOSDP=TRUE
GENIENLOPTS='$(DEFINE)GENIENL=22'
GENIENLEVRFOPTS='$(DEFINE)GENIENLEVRF=2'
GENIEMXLEVOPTS='$(DEFINE)GENIEMXLEV=22'
ia_L22L=.true.

# This bit for a 3/8 of timestep:
ma_ksic_loop=16
ma_kocn_loop=128
ma_genie_timestep=1350.0
ia_TSPD=64
ia_KOUNTR=23040
ia_KRUN=23040

# This bit for T42
#ia_fname_spectral=$CODEDIR/genie-igcm/data/input/restart_spectral_t42.nc
#ia_fname_gridpt=$CODEDIR/genie-igcm/data/input/restart_grid_t42.nc
ia_fname_vegetation=$CODEDIR/genie-igcm/data/input/vegetation_new_t42.nc
ia_fname_runoff=$CODEDIR/genie-igcm/data/input/runoff_t42.nc
ia_fname_orog_spec=$CODEDIR/genie-igcm/data/input/orog_spectral_std_t42.nc
ia_fname_ozone=$CODEDIR/genie-igcm/data/input/ozone_t42.nc
ia_fname_watervapour=$CODEDIR/genie-igcm/data/input/water_t42.nc
ia_fname_sstetc=$CODEDIR/genie-igcm/data/input/tqpap_t42.nc
fi_fname_orog=$CODEDIR/genie-fixedicesheet/data/input/orog_grid_std_t42.nc
fi_fname_icefrac=$CODEDIR/genie-fixedicesheet/data/input/icefrac_t42.nc
fi_fname_iland=$CODEDIR/genie-fixedicesheet/data/input/landmask_std_t42.nc

ia_NDEL=0
ia_coldstart_grid=.true.
ia_tempzero=30.0
ia_coldstart_gmsp=.true.
ia_coldstart_lsurf=.true.
IGCMPQSATTESTOPTS='$(DEFINE)IGCMPQSATTEST'
ss_coldstart_slabseaice=.true.
ss_readflux_slabseaice=.false.
