# GENIE_IG_GO_GS_ml
# IGCM-GOLDOCN-GOLDSIC-MOSES model; run for 2 months, 
#   with restart making turned on

EXPID=genie_ig_go_gs_ml_restartmake

GENIEDP=TRUE
IGCMATMOSDP=TRUE

TEST_NAME=${EXPID}_regtest
ASSUMEDGOOD_NAME=${EXPID}_assumedgood
KNOWNGOOD_NAME=${EXPID}_knowngood
BUILDTEST_NAME=${EXPID}_buildtest

TESTFILE=igcm/igcm_cl_2000_02.nc

# these bits set up the correct modules
ma_flag_goldsteinocean=.TRUE.
ma_flag_goldsteinseaice=.TRUE.
ma_flag_fixedocean=.FALSE.
ma_flag_fixedseaice=.FALSE.
ma_flag_land=.true.

# this is to make 180 timesteps per year from 100 default
go_9=180
gs_9=180
# this is for a 360-day year in goldstein
go_8=360
gs_8=360
# this is to control goldstein output periods
#   npstp='health check' from 1000=10 years to 90000=500 years
#   iwstp='restarts' from 50000=500 years to 1800=10 years
#   itstp='time series' from 100=1 year to 9000=5 years
#   ianav='an average' from 50000=500 years to 90000=500 years
go_3=90000
gs_3=90000
go_4=15
gs_4=15
go_5=900
gs_5=900
go_6=90000
gs_6=90000

# this changes the relative atmos/ocean/seaice calling frequency
ma_ksic_loop=48
ma_kocn_loop=48

# only one iteration of ocean blayer every hour (for speed).
ia_itslo=1

# set for 2-monthly run.
ma_koverall_total=1440

ia_dt_restart_igcmlandsurf=720
ia_KOUNTR=720

ia_ldaily=.true.

ia_itsll=1

###################################
# GENIE-land variables
###################################
ml_irest_land=24
ml_idiag_land=720
ml_c_restart=$CODEDIR/genie-mosestriffid/data/input/land_rs_igcm_t21_potential.nc

# AJR 08/04/15 (Gethin direction ...)
go_19='y'
