# $Id: genie_ig_fi_sl_fiex.config 1730 2005-01-25 12:56:38Z cvs-gw $

# 13) GENIE_IG_FI_SL_FIEX
# igcm 10-year integration with fixed ocean and slab (fixedextent) seaice

EXPID=genie_ig_fi_sl_fiex

ma_koverall_total=86400
ma_lgraphics=.false.
ia_ldaily=.true.
ma_flag_fixedseaice=.FALSE.
ma_flag_slabseaice=.TRUE.
