# $Id: genie_ig_fi_fi_l22.config 3320 2007-06-14 14:22:56Z andrew-price $
# AN IGCM-FIXEDOCEAN-FIXEDSEAICE INTEGRATION OF 10 YEARS, NO GRAPHICS.

EXPID=genie_ig_fi_fi_l22

ma_koverall_total=230400

# This bit for 22 igcm levels:
GENIEDP=TRUE
IGCMATMOSDP=TRUE
GENIENLOPTS='$(DEFINE)GENIENL=22'
GENIENLEVRFOPTS='$(DEFINE)GENIENLEVRF=2'
GENIEMXLEVOPTS='$(DEFINE)GENIEMXLEV=22'
ia_L22L=.true.

# This bit for a 3/8 of timestep:
ma_ksic_loop=16
ma_kocn_loop=128
ma_genie_timestep=1350.0
ia_TSPD=64
ia_KOUNTR=28800
ia_KRUN=23040
ma_dt_write=1920
