# $Id: genie_ig_go6432_sl_checkfluxes_test.config 3708 2008-01-14 14:30:56Z gethin-williams $
# AN IGCM-GOLDSTEIN-SLABSEAICE INTEGRATION OF 2000 years,
#  with GA tuned parameters.

EXPID=genie_ig_go6432_sl_checkfluxes

TEST_NAME=${EXPID}_regtest
ASSUMEDGOOD_NAME=${EXPID}_assumedgood
KNOWNGOOD_NAME=${EXPID}_knowngood
BUILDTEST_NAME=${EXPID}_buildtest

CHECKFLUXES="TRUE"

TESTFILE=main/check_fluxes.txt

# must re-compile with double precision 
GENIEDP=TRUE
IGCMATMOSDP=TRUE

# For high-res goldstein
GOLDSTEINNLONSOPTS='$(DEFINE)GOLDSTEINNLONS=64'
GOLDSTEINNLATSOPTS='$(DEFINE)GOLDSTEINNLATS=32'
go_grid=2
go_topo=igcmv3
go_Tdata=igcmv3_tempann.silo
go_Sdata=igcmv3_saliann.silo

fi_fname_orog=$CODEDIR/genie-igcm/data/input/limit_goldstein6432.nc
fi_fname_iland=$CODEDIR/genie-igcm/data/input/limit_goldstein6432.nc
fi_fname_icefrac=$CODEDIR/genie-igcm/data/input/limit_goldstein6432.nc
ia_fname_vegetation=$CODEDIR/genie-igcm/data/input/limit_goldstein6432.nc
ia_fname_runoff=$CODEDIR/genie-igcm/data/input/runoff_goldstein6432_nn_t21.nc

ma_koverall_total=720

# these bits set up the correct modules
ma_flag_goldsteinocean=.TRUE.
ma_flag_slabseaice=.TRUE.
ma_flag_fixedocean=.FALSE.
ma_flag_fixedseaice=.FALSE.

# this is to make 180 timesteps per year from 100 default
go_9=180
# this is for a 360-day year in goldstein
go_8=360
# this is to control goldstein output periods
#   npstp='health check' from 1000=10 years to 90000=500 years
#   iwstp='restarts' from 50000=500 years to 1800=10 years
#   itstp='time series' from 100=1 year to 9000=5 years
#   ianav='an average' from 50000=500 years to 90000=500 years
go_3=90000
go_4=1800
go_5=900
go_6=90000

# slab sea ice
ss_flag_fixedextent=.false.

# For water checking
ma_flag_checkfluxes_ocn=.true.
ma_flag_checkfluxes_surf=.true.
ia_flag_checkwater_land=.true.
ss_flag_checkenergy_slabseaice=.true.
ia_lcheckwater=.true.
# for 2-daily goldstein energy/water diagnostics
go_6b=1
