# $Id: genie_ig_go_sl_ml_checkfluxes_test.config 3708 2008-01-14 14:30:56Z gethin-williams $

# GENIE_IG_GO_SL_ML_CHECKFLUXES
# igcm/goldstein/slabocean/genie-mosestriffid 1-month integration for energy/water testing.

EXPID=genie_ig_go_sl_ml_checkfluxes

# must re-compile with double precision 
GENIEDP=TRUE
IGCMATMOSDP=TRUE

TEST_NAME=${EXPID}_regtest
ASSUMEDGOOD_NAME=${EXPID}_assumedgood
KNOWNGOOD_NAME=${EXPID}_knowngood
BUILDTEST_NAME=${EXPID}_buildtest

CHECKFLUXES="TRUE"

TESTFILE=main/check_fluxes.txt

# these bits set up the correct modules
ma_flag_goldsteinocean=.TRUE.
ma_flag_slabseaice=.TRUE.
ma_flag_fixedocean=.FALSE.
ma_flag_fixedseaice=.FALSE.
ma_flag_land=.true.

# this is to make 180 timesteps per year from 100 default
go_9=180

# this is for a 360-day year in goldstein
go_8=360

# this is to control goldstein output periods
#   npstp='health check' from 1000=10 years to 90000=500 years
#   iwstp='restarts' from 50000=500 years to 18000=100 years
#   itstp='time series' from 100=1 year to 9000=50 years
#   ianav='an average' from 50000=500 years to 90000=500 years
go_3=90000
go_4=18000
go_5=9000
go_6=90000

ss_flag_fixedextent=.false.
ma_dt_write=48
ma_flag_checkfluxes_ocn=.true.
ma_flag_checkfluxes_surf=.true.
ia_flag_checkwater_land=.true.
ss_flag_checkenergy_slabseaice=.true.
ia_lcheckwater=.true.

# for 2-daily goldstein energy/water diagnostics
go_6b=1

ma_koverall_total=720

# For including genie-mosestriffid
ia_itsll=1
ml_iacc_land=720
