# $Id: genie_fi_go_sl_igcm.config 1730 2005-01-25 12:56:38Z cvs-gw $
# A FIXED ATMOSPHERE(igcm)-GOLDSTEIN-SLABSEAICE INTEGRATION OF 5000 YEARS.

EXPID=genie_fi_go_sl_igcm_test

# these bits set up the correct modules
ma_flag_fixedatmos=.TRUE.
ma_flag_goldsteinocean=.TRUE.
ma_flag_igcmatmos=.FALSE.
ma_flag_fixedocean=.FALSE.
ma_flag_slabseaice=.TRUE.
ma_flag_fixedseaice=.FALSE.

# this is to write genie-main data every 86400 timesteps=10 years
ma_dt_write=86400

# this is to make 180 timesteps per year from 100 default
go_9=180

# this is for a 360-day year in goldstein
go_8=360

# this is to control goldstein output periods
#   npstp='health check' from 1000=10 years to 90000=500 years
#   iwstp='restarts' from 50000=500 years to 18000=100 years
#   itstp='time series' from 100=1 year to 9000=50 years
#   ianav='an average' from 50000=500 years to 90000=500 years
go_3=90000
go_4=18000
go_5=9000
go_6=90000

# this is to turn graphics off
ma_lgraphics=.false.

# this is to change the model run length
#   720=1 month of igcm (timestep=1 hour) to 43200000=5000 years
ma_koverall_total=43200000

# this is for fixedatmos timestep from 86400=1day to 3600=1hour
fa_timestep=3600

# this is for fixedatmos screen write from 360=1day to 720=1month
fa_output_time=720

# this is for fixedatmos restarts from 225=225days to 8640=1year
fa_dt_restart_fixedatmos=8640

