# $Id: genie_ig_sl_sl_restartmake_test.config 2806 2005-12-19 15:09:37Z cvs-djl $
# Fast test

EXPID=genie_ig_sl_sl_restartmake

TEST_NAME=${EXPID}_regtest
ASSUMEDGOOD_NAME=${EXPID}_assumedgood
KNOWNGOOD_NAME=${EXPID}_knowngood
BUILDTEST_NAME=${EXPID}_buildtest

TESTFILE=igcm/igcm_da_2000_02.nc

ma_koverall_total=1440

ma_lgraphics=.false.

so_dt_restart_slabocean=15

ss_dt_restart_slabseaice=120

ia_KOUNTR=720
ia_ldaily=.true.
ia_dt_restart_igcmlandsurf=720
ia_dt_restart_igcmoceansurf=720

ma_flag_fixedseaice=.FALSE.
ma_flag_slabseaice=.TRUE.
ma_flag_fixedocean=.FALSE.
ma_flag_slabocean=.TRUE.
ss_flag_fixedextent=.false.

