# $Id: genie_ig_fi_fi_ml_test.config 3708 2008-01-14 14:30:56Z gethin-williams $
# AN IGCM-FIXEDOCEAN-FIXEDSEAICE-GENIELAND INTEGRATION OF 3 DAYS

#REMAKE=FALSE
EXPID=genie_ig_fi_fi_ml

TEST_NAME=${EXPID}_regtest
ASSUMEDGOOD_NAME=${EXPID}_assumedgood
KNOWNGOOD_NAME=${EXPID}_knowngood
BUILDTEST_NAME=${EXPID}_buildtest

TESTFILE=igcm/igcm_da_2000_01.nc

ia_ldaily=.true.

###################################
# GENIE variables
###################################
ma_koverall_total=72

# For including genie-mosestriffid
ia_itsll=1
ma_flag_land=.true.
