# $Id: genie_igfi_sl_sl_noflux.config 1809 2005-02-14 11:04:03Z cvs-djl $

# 15) GENIE_IG_SL_SL_NOFLUX
# igcm 10-year integration with slab ocean and slab seaice
# Ocean fluxes set to zero

EXPID=genie_igfi_sl_sl_noflux

ma_koverall_total=8640
ma_lgraphics=.false.
ia_ldaily=.true.
ss_flag_fixedextent=.false.
ma_flag_fixedseaice=.FALSE.
ma_flag_slabseaice=.TRUE.
ma_flag_fixedocean=.FALSE.
ma_flag_slabocean=.TRUE.
ma_flag_fixedatmos=.true.

# for the fixed atmos
fa_fname_climate=$CODEDIR/genie-fixedatmos/data/input/limit_fix_ncp.nc
fa_precip_flag=.true.
fa_evap_flag=.true.
fa_runoff_flag=.true.
fa_latent_flag=.false.
fa_sensible_flag=.false.
fa_netsolar_flag=.false.
fa_netlong_flag=.false.
fa_stressx_flag=.false.
fa_stressy_flag=.false.
fa_landmask_flag=.false.
fa_timestep=3600
fa_output_time=720
fa_dt_restart_fixedatmos=86400

ia_lownprecip=.true.

# for atlantic check:
ma_flag_checkfluxes_atlantic=.true.
fa_runoff_flag=.true.
