# $Id
# AN IGCM-FIXEDOCEAN-FIXEDSEAICE INTEGRATION OF 11 YEARS.
# This is used by Andrew Price to tune with Hadam SSTs and seaice.
# FOR PRE-INDUSTRIAL

EXPID=genie_ig_fi_fi_tunehadam_pre

# To set for 11 years
ma_koverall_total=95040

# THESE BITS FOR THE HADAM SSTs
fo_fname_sstetc=$RUNTIME_ROOT/genie-fixedocean/data/input/sst_xakxd.nc
fs_fname_sstetc=$RUNTIME_ROOT/genie-fixedseaice/data/input/sst_xakxd.nc

########################################
# THESE BITS FOR THE STANDARD GENIE SETUP FOR PRE-INDUSTRIAL PELTIER:

# igcm: vegetation and runoff:
ia_fname_vegetation=$RUNTIME_ROOT/genie-igcm/data/input/limit_pelt_0_new.nc
ia_fname_runoff=$RUNTIME_ROOT/genie-igcm/data/input/runoff_pelt_nn_t21.nc

# fixedchem:
fc_co2_fix=279.0e-6

# fixedicesheet:
ia_LOROG=.false.
fi_fname_orog=$RUNTIME_ROOT/genie-fixedicesheet/data/input/limit_pelt_0_new.nc
fi_fname_icefrac=$RUNTIME_ROOT/genie-fixedicesheet/data/input/limit_pelt_0_new.nc
fi_fname_iland=$RUNTIME_ROOT/genie-fixedicesheet/data/input/limit_pelt_0_new.nc

# igcm orbit:
ia_exact_orbit=.true.
ia_p_zecc=0.01724
ia_p_zobl=23.446
ia_p_zw=281.37
ia_p_zproff=-1.44994

########################################





