# $Id: genie_ig_sl_sl_fluxmaker.config 1730 2005-01-25 12:56:38Z cvs-gw $

# 15) GENIE_IG_SL_SL_FLUXMAKER
# igcm 60-year integration with slab ocean and slab seaice
# Used to generate flux files for the ocean and seaice from the 
#   last 50 years of the integration.



EXPID=genie_ig_sl_sl_fluxmaker
OUTDIR=$DUMP2HOLD/ggdjl/genie_output

ma_koverall_total=518400
ss_flag_fixedextent=.false.
ma_flag_fixedseaice=.FALSE.
ma_flag_slabseaice=.TRUE.
ma_flag_fixedocean=.FALSE.
ma_flag_slabocean=.TRUE.
ss_slab_maker=.true.
so_slab_maker=.true.

ss_start_slab_av=14401
ss_end_slab_av=86400
so_start_slab_av=1801
so_end_slab_av=10800

