# $Id
# AN IGCM-GOLDSTEIN-SLABSEAICE INTEGRATION OF 2000 years,
#  with GA tuned parameters.
#  And 22 vertical levels in the igcm!

EXPID=genie_ig_go_sl_l22

ma_koverall_total=23040000

# these bits set up the correct modules
ma_flag_goldsteinocean=.TRUE.
ma_flag_slabseaice=.TRUE.
ma_flag_fixedocean=.FALSE.
ma_flag_fixedseaice=.FALSE.

# this is to make 180 timesteps per year from 100 default
go_9=180
# this is for a 360-day year in goldstein
go_8=360
# this is to control goldstein output periods
#   npstp='health check' from 1000=10 years to 90000=500 years
#   iwstp='restarts' from 50000=500 years to 1800=10 years
#   itstp='time series' from 100=1 year to 9000=5 years
#   ianav='an average' from 50000=500 years to 90000=500 years
go_3=90000
go_4=1800
go_5=900
go_6=90000

# slab sea ice
ss_flag_fixedextent=.false.

# **********************************************************
# The bits below to change to a long run (5-yearly restarts):
ia_lmonthly=.false.
ma_dt_write=86400
ia_dt_restart_igcmlandsurf=86400
ia_dt_restart_igcmoceansurf=86400
ss_dt_restart_slabseaice=14400
ia_KOUNTR=86400


# This bit for 22 igcm levels:
GENIEDP=TRUE
IGCMATMOSDP=TRUE
GENIENLOPTS='$(DEFINE)GENIENL=22'
GENIENLEVRFOPTS='$(DEFINE)GENIENLEVRF=2'
GENIEMXLEVOPTS='$(DEFINE)GENIEMXLEV=22'
ia_L22L=.true.

# This bit for a 3/8 of timestep:
ma_ksic_loop=16
ma_kocn_loop=128
ma_genie_timestep=1350.0
ia_TSPD=64
ia_KOUNTR=28800
ia_KRUN=23040
