# $Id: genie_fi_go_igcm.config 3443 2007-08-07 09:34:04Z gethin-williams $
# A FIXED ATMOSPHERE(igcm)-GOLDSTEIN INTEGRATION OF 10 YEARS.

EXPID=genie_fi_go_igcm
OUTDIR=/export/dryas/array-02/ggdjl/genie_output
RES_FLAGS='$(DEFINE)atmosres3636'

# these bits set up the correct modules
ma_flag_fixedatmos=.TRUE.
ma_flag_goldsteinocean=.TRUE.
ma_flag_igcmatmos=.FALSE.
ma_flag_fixedocean=.FALSE.
ma_flag_fixedseaice=.FALSE.

# this is to write genie-main data every 720 timesteps=1 month
ma_dt_write=720

# this is to make 180 timesteps per year from 100 default
go_9=180

# this is for a 360-day year in goldstein
go_8=360

# this is to control goldstein output periods
#   npstp='health check' from 1000=10 years to 90000=500 years
#   iwstp='restarts' from 50000=500 years to 18000=100 years
#   itstp='time series' from 100=1 year to 9000=50 years
#   ianav='an average' from 50000=500 years to 90000=500 years
go_3=90000
go_4=15
go_5=9000
go_6=90000

# this is to turn graphics off
ma_lgraphics=.false.

# this is to change the model run length
#   720=1 month of igcm (timestep=1 hour) to 86400=10 years
ma_koverall_total=86400

# this is for fixedatmos timestep from 86400=1day to 3600=1hour
fa_timestep=3600

# this is for fixedatmos screen write 720 = 1month
fa_output_time=720

# this is for fixedatmos restarts to 1 month
fa_dt_restart_fixedatmos=720

# this is for the name of the climate file
fa_fname_climate=/export/dryas/array-02/ggdjl/genie_output/genie_ig_go_sl_makefixed/main/genie_climate.nc

# this is for variable names which we want for the fixedatmos input
fa_runoff_flag=.true.
fa_conductflux_flag=.true.
fa_waterflux_flag=.true.
fa_landmask_flag=.false.

# need to tell genie.F we've got the embm grid
fa_grid_type=2

# We don't want sic or atm data
ma_write_flag_atm=.false.
ma_write_flag_sic=.false.

# We want goldstein to run from a restart file
go_7=c

# We want to use netcdf restart file, as these are dated
go_18=y

# File name for the goldstein restart
go_21=$OUTDIR/genie_ig_go_sl_makefixed/goldstein/goldstein_restart_2002_01_30.nc
