
# $Id: genie_ig_fi_fi_glim.config 3020 2006-11-22 14:49:42Z cvs-djl $
# Standard example run for glimmer with the IGCM, 
# fixed ocean and fixed sea ice
# Runs for a year, with the daily PDD mass-balance scheme

EXPID=genie_ig_fi_fi_glim
ma_koverall_total=17280

ma_flag_icesheet=.TRUE.
ma_kicesheet_loop=1
ma_kicesheet_start=24
gl_out1_cancel=TRUE
gl_out2_cancel=TRUE
gl_out3_cancel=TRUE
gl_out4_cancel=TRUE
gl_out5_cancel=TRUE
