# $Id
# AN IGCM-GOLDSTEIN-SLABSEAICE INTEGRATION OF 2000 years,
#  with GA tuned parameters.

OUTDIR=$DUMP2HOLD/ggdjl/genie_output
EXPID=genie_ig_go_sl_gaalbedomask


ma_koverall_total=17280000

# these bits set up the correct modules
ma_flag_goldsteinocean=.TRUE.
ma_flag_slabseaice=.TRUE.
ma_flag_fixedocean=.FALSE.
ma_flag_fixedseaice=.FALSE.

# this is to make 180 timesteps per year from 100 default
go_9=180
# this is for a 360-day year in goldstein
go_8=360
# this is to control goldstein output periods
#   npstp='health check' from 1000=10 years to 90000=500 years
#   iwstp='restarts' from 50000=500 years to 1800=10 years
#   itstp='time series' from 100=1 year to 9000=5 years
#   ianav='an average' from 50000=500 years to 90000=500 years
go_3=90000
go_4=1800
go_5=900
go_6=90000

# slab sea ice
ss_flag_fixedextent=.false.

# **********************************************************
# The bits below to change to a long run (10-yearly restarts):
ia_lmonthly=.false.
ma_write_flag_sic=.false.
ma_write_flag_ocn=.false.
ma_dt_write=86400
ia_dt_restart_igcmlandsurf=86400
ia_dt_restart_igcmoceansurf=86400
ss_dt_restart_slabseaice=14400
ia_KOUNTR=86400

# Here are the GA parameters:

ia_zradef=3.09180402755737
ia_cloudconvnorm=0.44094017148018
ia_cloudconvbase=0.80181926488876
ia_fluxfactor=1.32747256755829
ia_enhancestable=0.37312272191048
ia_humcloudmin=0.72626066207886
ia_albedo_fix=-0.03963369876146
ia_blvad=1.13211238384247
ia_akqv=1.12771677970886
ia_increaseq=0.88879120349884
ia_rough_ocean=3.711080644279718e-04
ia_supersatconv=0.01273122709244
ia_supersatlarg=0.03298763558269
ia_emissconstb=1.278144073486328e+02
ia_humcloudmax=0.90848290920258
ia_powercloud=1.00158727169037
ia_enhancelim=2.01098895072937
ia_blrh=1.197875442504883e+02
ia_increaseu=7.33241748809814
ia_increaset=0.66781133413315
ia_shsstar=0.12936098873615
ia_emissconsta=1.15192306041718
ia_lcr=.true.
ia_cbadjt=4.91135549545288
ia_pcloudmin=3.01310348510742
ia_pcloudfact=0.09858781844378
ia_cloudshallow=0.26417583227158
ia_cubmt=1.37142860889435

# Fixed-ocean tuned parameters:
#fo_albedo_ocean=0.07422161102295
# REPLACE THIS WITH GOLDSTEIN ALBEDO:
go_albedo=0.07422161102295

# Fixed-seaice tuned parameters:
#fs_albedo_seaice=0.46517705917358
# REPLACE THIS WITH SLABSEAICE ALBEDO:
ss_albedo_seaice=0.46517705917358

# For the latitude-varying albedo
ia_lvaralbedo=.true.

# This to change to the goldstein land-sea mask

ia_fname_vegetation=$CODEDIR/genie-utilities/data/output/limit_goldstein.nc
ia_fname_runoff=$CODEDIR/genie-utilities/data/output/runoff_goldstein_nn_t21.nc
fi_fname_orog=$CODEDIR/genie-utilities/data/output/limit_goldstein.nc
fi_fname_icefrac=$CODEDIR/genie-utilities/data/output/limit_goldstein.nc
fi_fname_iland=$CODEDIR/genie-utilities/data/output/limit_goldstein.nc

